<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>

    <!--管理员服务器IP-->
    <add key="SMSServerIP" value="192.168.100.66"/>
    <!--管理员服务器数据库名-->
    <add key="SMSServerDBName" value="SMSManagement_DB"/>

    <!--用户服务器IP--><!--
    <add key="UserServerIP" value="192.168.100.217"/>
    --><!--数据库名称--><!--
    <add key="UserDBName" value="GP_USERINFO"/>-->

    <!--IP范围-->
    <add key="IPRange" value="192.168.25.1-192.168.100.217,192.168.100.217-192.168.100.218,169.254.80.80"/>

    <!--AES加解密密钥-->
    <add key="AesKey" value="DE972004083DBA8A"/>

    <!--异常日志-->
    <add key="ErrorPath" value="C:\SMSManagement\"/>

    <!--SQL日志 open|close-->
    <add key="SQLLOG_STATE" value="open"/>
    <add key="SQLLOG_IP" value="192.168.100.66"/>
    <add key="SQLLOG_DB" value="SQLLOG_DB"/>

    <!--发送队列延迟时间和最大处理数（max=500）-->
    <add key="SendBlockDueTime" value="5000"/>
    <add key="SendBlockBatchMaxNum" value="100"/>
    <!--DBlog队列延迟时间和最大处理数-->
    <add key="DBBlockDueTime" value="5000"/>
    <add key="DBBlockBatchMaxNum" value="1000"/>
  </appSettings>


</configuration>